.img-jmbo{
    background-image: url('background.jpg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.img-thumbnail{
    width: 250px;
    height: 200px;
}
#myMenu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
  }
  
  #myMenu li a:hover {
    background-color:white;
  }
.wrapingimage  
{  
float: left;   
margin: 30px 12px 3px 4px;   
border: 2px solid black;

}   
.style1{
	border-top: 1px solid skyblue;
}